.conda/
rappi_ai_engineer_case.docx
modulo1_diagnostico/Resumen de hallazgos/Resumen de hallazgos.docx
modulo2_motor_alertas/Justificación de los umbrales y reglas del motor.docx
rappi_delivery_case_data.xlsx
modulo3_agente_telegram/credentials.py
requirements.txt